@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/button";
@import "utils/burger";
@import "utils/input";
@import "utils/modal";
@import "utils/slickfix";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', sans-serif;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

button, a {

  @media only screen and (min-width: 768px) {

    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;

    &:after, &:before {
      -webkit-transition: .35s;
      -moz-transition: .35s;
      -ms-transition: .35s;
      -o-transition: .35s;
      transition: .35s;
    }

  }


  &:focus {
    outline: none;
    border: none;
  }

}

button {
  border: none;
  outline: none;

    &:hover, &:active, &:focus, &:active {
      border: none;
      outline: none;
    }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-family: 'Roboto-Bold', sans-serif !important;
}

section, .section {
  position: relative;
  padding: 80px 0;

  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0 28px;
  }
  @media screen and (max-width: $phoneBigWidth) {
    padding: 36px 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  //padding-top: 70px;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $phoneBigWidth) {
    max-width: 100%;
  }
}

.title {
  font-size: 46px;
  text-transform: initial;
  font-family: 'Roboto-Light', sans-serif;
  margin-bottom: 3.375rem;

  @media screen and (max-width: $phoneBigWidth) {
    font-size: 42px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 36px;
    word-break: break-word;
  }

  @media screen and (max-width: 360px) {
    font-size: 32px;
  }

  &--sub {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 36px;
    font-style: normal;
  }
}

.title__border--sm {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 0;
      width: 7.7rem;
      height: 2px;
      background: $light-color;
    }
}

.text-center {
  text-align: center;
}

.text-center__mob {
  @media screen and (max-width: $phoneBigWidth) {
    text-align: center;
  }
}

.white {
  color: $wh;
}

.green {
  color: #26b6a6;
}

.red {
  color: $red;
}

.mt50 {
  margin-top: 3.125rem;
}

.borderSmall {
  position: relative;
  margin-bottom: 43px;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 1.375rem;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -17px;
      width: 98px;
      height: 2px;
      background: #dadada;
    }
}

.greenGradient {
  background: linear-gradient(135deg, #38b86f 0%, #22b6b4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt60 {
  margin-top: 3.75rem;
}

.display-flex {
  @include flex(flex-start, flex-start, row, nowrap);
}

.d-block--mob {
  display: none!important;

    @media screen and (max-width: $phoneBigWidth) {
      display:block !important;
      margin-top: 8px;
      margin-bottom: 8px;
    }
}

.d-none--mob {
    @media screen and (max-width: $phoneBigWidth) {
      display: none!important;
    }
}


// Modules
@import "modules/wrapper.scss";



