@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/button";
@import "utils/burger";
@import "utils/input";
@import "utils/slickfix";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

button, a {

  @media only screen and (min-width: 768px) {

    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;

    &:after, &:before {
      -webkit-transition: .35s;
      -moz-transition: .35s;
      -ms-transition: .35s;
      -o-transition: .35s;
      transition: .35s;
    }

  }


  &:focus {
    outline: none;
    border: none;
  }

}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-family: 'Roboto-Bold', sans-serif !important;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  //padding-top: 70px;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.title {
  font-size: 46px;
  text-transform: initial;
  font-family: $Fontlight;


  &--sub {
    font-family: $Fontlight;
    font-size: 36px;
    font-style: normal;
  }
}

.title__border--sm {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

    &:after {
      content: '';
      position: absolute;
      left: 4px;
      bottom: 0;
      width: 7.7rem;
      height: 2px;
      background: $light-color;
    }
}

.text-center {
  text-align: center;
}

.text-center__mob {
  @media screen and (max-width: $phoneBigWidth) {
    text-align: center;
  }
}

.white {
  color: $wh;
}

.green {
  color: #2db793;
}

.red {
  color: $red;
}

.mt50 {
  margin-top: 3.125rem;
}

.borderSmall {
  position: relative;
  margin-bottom: 26px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -13px;
      width: 88px;
      height: 2px;
      background: #36aa3e;
    }
}

.d-block--mob {
  display: none!important;

    @media screen and (max-width: $phoneBigWidth) {
      display:block !important;
      margin-top: 8px;
      margin-bottom: 8px;
    }
}

.d-none--mob {
    @media screen and (max-width: $phoneBigWidth) {
      display: none!important;
    }
}
// Modules
@import "modules/wrapper.scss";



