
<div class="modal--tasks__wr">
  <div class="modal--tasks">
    <div class="modal--tasks__close"></div>
    <div class="modal--tasks__block">
      <h5 class="modal--tasks__title">Submit your application</h5>
      <form action="">
        <div class="input--block">
          <div class="input--item file">
            <label for="real-input">Resume/CV *</label>
            <input type="file" placeholder="Вставить ссылку" id="real-input">
            <span class="file-info">Прикрепить файл</span>
          </div>
        </div>
        <div class="input--block">
          <div class="input--item">
            <label for="name">Full name *</label>
            <input type="text" id="name">
          </div>
        </div>
        <div class="input--block">
          <div class="input--item">
            <label for="email">Email *</label>
            <input type="email" id="email">
          </div>
        </div>
        <div class="input--block">
          <div class="input--item">
            <label for="phone">Phone *</label>
            <input type="tel" id="phone">
          </div>
        </div>
        <div class="input--block">
          <div class="input--item">
            <label for="company">Current company</label>
            <input type="text" id="company">
          </div>
        </div>
        <div class="input--block">
          <div class="textarea--block">
            <label for="info">Additional Information</label>
            <textarea name="" id="info" cols="30" rows="10"></textarea>
          </div>
        </div>
        <button class="btnSimple btnSimple--green browse-btn">Submit application</button>
      </form>
    </div>
  </div>
</div>

    <div class="tasks">

      <h3 class="title">Вакансии</h3>

      <div class="tasks--item">
        <div class="tasks--item__top">
          <p>Marketing Specialist</p>
          <span>Marketing</span>
          <div class="openBlockTasks-icon"></div>
        </div>
        <div class="tasks--item__bot">
          <h5 class="tasks--subTitle">WHAT YOU'LL BE DOING</h5>
          <ul>
            <li><span>You will be the owner of marketing initiatives
</span></li>
            <li><span> You will develop user activation campaigns
</span></li>
            <li><span>Running enhanced user engagement campaigns</span></li>
            <li><span>Managing strategy, planning &amp; execution of brand campaigns across the US</span></li>
            <li><span>Ensure that we leverage the value of all of our marketing channels to their best (owned channels, earned media, paid media, performance marketing)
</span></li>
            <li><span>You will own the Financial Promotion Risk & social media accounts in US</span></li>
          </ul>

          <h5 class="tasks--subTitle">WHAT ARE WE LOOKING FOR?</h5>
          <ul>
            <li><span>Minimum 3 years of experience in consumer marketing, product marketing or marketing analytics</span></li>
            <li><span>Fluency in local language and experience of working in your country environment are a must
</span></li>
            <li><span>A strong track record in implementing consumer marketing campaigns and activations on your market</span></li>
            <li><span>Excellent communication &amp; interpersonal skills: you are a charismatic, people-person that has the ability to talk to anyone and work in a fast-paced, ever-changing environment</span></li>
            <li><span>You are an inspiring team leader, accustomed with managing people and enabling them to deliver on their results</span></li>
            <li><span>You are analytical and always take data-informed decisions for solving challenges
</span></li>
          </ul>

          <h5 class="tasks--subTitle">PREFERRED QUALIFICATIONS</h5>
          <ul>
            <li><span>Experience of working in a high-growth tech company is a plus</span></li>
            <li><span>You are a true owner that sees opportunities and actions on them</span></li>
            <li><span>You have experience in content marketing, campaign development, acquisition &amp; engagement channels
</span></li>
            <li><span>Project management: you have the ability to manage multiple projects at scale, while working with the main team and external third parties as required</span></li>
          </ul>
          <button class="btnSimple btnSimple--green openModal">apply now</button>
        </div>
      </div>

      <div class="tasks--item">
        <div class="tasks--item__top">
          <p>Marketing Manager</p>
          <span>Marketing</span>
          <div class="openBlockTasks-icon"></div>
        </div>
        <div class="tasks--item__bot">
          <h5 class="tasks--subTitle">WHAT YOU'LL BE DOING</h5>
          <ul>
            <li><span>You will be the owner of marketing initiatives
</span></li>
            <li><span> You will develop user activation campaigns
</span></li>
            <li><span>Running enhanced user engagement campaigns</span></li>
            <li><span>Managing strategy, planning &amp; execution of brand campaigns across the US</span></li>
            <li><span>Ensure that we leverage the value of all of our marketing channels to their best (owned channels, earned media, paid media, performance marketing)
</span></li>
            <li><span>You will own the Financial Promotion Risk & social media accounts in US</span></li>
          </ul>

          <h5 class="tasks--subTitle">WHAT ARE WE LOOKING FOR?</h5>
          <ul>
            <li><span>Minimum 3 years of experience in consumer marketing, product marketing or marketing analytics</span></li>
            <li><span>Fluency in local language and experience of working in your country environment are a must
</span></li>
            <li><span>A strong track record in implementing consumer marketing campaigns and activations on your market</span></li>
            <li><span>Excellent communication &amp; interpersonal skills: you are a charismatic, people-person that has the ability to talk to anyone and work in a fast-paced, ever-changing environment</span></li>
            <li><span>You are an inspiring team leader, accustomed with managing people and enabling them to deliver on their results</span></li>
            <li><span>You are analytical and always take data-informed decisions for solving challenges
</span></li>
          </ul>

          <h5 class="tasks--subTitle">PREFERRED QUALIFICATIONS</h5>
          <ul>
            <li><span>Experience of working in a high-growth tech company is a plus</span></li>
            <li><span>You are a true owner that sees opportunities and actions on them</span></li>
            <li><span>You have experience in content marketing, campaign development, acquisition &amp; engagement channels
</span></li>
            <li><span>Project management: you have the ability to manage multiple projects at scale, while working with the main team and external third parties as required</span></li>
          </ul>
          <button class="btnSimple btnSimple--green openModal">apply now</button>
        </div>
      </div>

      <div class="tasks--item">
        <div class="tasks--item__top">
          <p>Android developer</p>
          <span>Technology</span>
          <div class="openBlockTasks-icon"></div>
        </div>
        <div class="tasks--item__bot">
          <h5 class="tasks--subTitle">WHAT YOU'LL BE DOING</h5>
          <ul>
            <li><span>You will be the owner of marketing initiatives
</span></li>
            <li><span> You will develop user activation campaigns
</span></li>
            <li><span>Running enhanced user engagement campaigns</span></li>
            <li><span>Managing strategy, planning &amp; execution of brand campaigns across the US</span></li>
            <li><span>Ensure that we leverage the value of all of our marketing channels to their best (owned channels, earned media, paid media, performance marketing)
</span></li>
            <li><span>You will own the Financial Promotion Risk & social media accounts in US</span></li>
          </ul>

          <h5 class="tasks--subTitle">WHAT ARE WE LOOKING FOR?</h5>
          <ul>
            <li><span>Minimum 3 years of experience in consumer marketing, product marketing or marketing analytics</span></li>
            <li><span>Fluency in local language and experience of working in your country environment are a must
</span></li>
            <li><span>A strong track record in implementing consumer marketing campaigns and activations on your market</span></li>
            <li><span>Excellent communication &amp; interpersonal skills: you are a charismatic, people-person that has the ability to talk to anyone and work in a fast-paced, ever-changing environment</span></li>
            <li><span>You are an inspiring team leader, accustomed with managing people and enabling them to deliver on their results</span></li>
            <li><span>You are analytical and always take data-informed decisions for solving challenges
</span></li>
          </ul>

          <h5 class="tasks--subTitle">PREFERRED QUALIFICATIONS</h5>
          <ul>
            <li><span>Experience of working in a high-growth tech company is a plus</span></li>
            <li><span>You are a true owner that sees opportunities and actions on them</span></li>
            <li><span>You have experience in content marketing, campaign development, acquisition &amp; engagement channels
</span></li>
            <li><span>Project management: you have the ability to manage multiple projects at scale, while working with the main team and external third parties as required</span></li>
          </ul>
          <button class="btnSimple btnSimple--green openModal">apply now</button>
        </div>
      </div>

      <div class="tasks--item">
        <div class="tasks--item__top">
          <p>Senior iOS Developer</p>
          <span>Technology</span>
          <div class="openBlockTasks-icon"></div>
        </div>
        <div class="tasks--item__bot">
          <h5 class="tasks--subTitle">WHAT YOU'LL BE DOING</h5>
          <ul>
            <li><span>You will be the owner of marketing initiatives
</span></li>
            <li><span> You will develop user activation campaigns
</span></li>
            <li><span>Running enhanced user engagement campaigns</span></li>
            <li><span>Managing strategy, planning &amp; execution of brand campaigns across the US</span></li>
            <li><span>Ensure that we leverage the value of all of our marketing channels to their best (owned channels, earned media, paid media, performance marketing)
</span></li>
            <li><span>You will own the Financial Promotion Risk & social media accounts in US</span></li>
          </ul>

          <h5 class="tasks--subTitle">WHAT ARE WE LOOKING FOR?</h5>
          <ul>
            <li><span>Minimum 3 years of experience in consumer marketing, product marketing or marketing analytics</span></li>
            <li><span>Fluency in local language and experience of working in your country environment are a must
</span></li>
            <li><span>A strong track record in implementing consumer marketing campaigns and activations on your market</span></li>
            <li><span>Excellent communication &amp; interpersonal skills: you are a charismatic, people-person that has the ability to talk to anyone and work in a fast-paced, ever-changing environment</span></li>
            <li><span>You are an inspiring team leader, accustomed with managing people and enabling them to deliver on their results</span></li>
            <li><span>You are analytical and always take data-informed decisions for solving challenges
</span></li>
          </ul>

          <h5 class="tasks--subTitle">PREFERRED QUALIFICATIONS</h5>
          <ul>
            <li><span>Experience of working in a high-growth tech company is a plus</span></li>
            <li><span>You are a true owner that sees opportunities and actions on them</span></li>
            <li><span>You have experience in content marketing, campaign development, acquisition &amp; engagement channels
</span></li>
            <li><span>Project management: you have the ability to manage multiple projects at scale, while working with the main team and external third parties as required</span></li>
          </ul>
          <button class="btnSimple btnSimple--green openModal">apply now</button>
        </div>
      </div>

    </div>
