
<h3 class="title text-center">Documents</h3>

<div class="documents--main">
    <ul>
        <li>
            <a href="">
                <span class="documents--icon">pdf</span>
                <span class="documents--txt">Terms of use</span>
                <i></i>
            </a>
        </li>
        <li>
            <a href="">
                <span class="documents--icon">doc</span>
                <span class="documents--txt">Advertising Services Contract</span>
                <i></i>
            </a>
        </li>
        <li>
            <a href="">
                <span class="documents--icon">xls</span>
                <span class="documents--txt">Constituent documents</span>
                <i></i>
            </a>
        </li>
        <li>
            <a href="">
                <span class="documents--icon">pdf</span>
                <span class="documents--txt">Privacy Policy Agreement</span>
                <i></i>
            </a>
        </li>
        <li>
            <a href="robot-terms.html">
                <span class="documents--icon">
                    <img src="/assets/img/chain.svg" alt="chain" class="d-none--with-hov">
                    <img src="/assets/img/chain__hov.svg" alt="chain" class="d-none--without-hov">
                </span>
                <span class="documents--txt">Robot terms</span>
                <span class="arr"></span>
            </a>
        </li>
    </ul>
</div>