<div class="footer">
  <div class="container">
    <div class="footer--logo"><a href="index.html"><img src="../assets/img/logo-foot.png" alt="logotype"></a></div>
    <div class="copyright">
      <div>
        <p>Все права защищены</p>
        <p class="contacts-info">
          FinTrade PTE LTD, № 201931201G <br>
          133 New Bridge Road #10-03, <br>
          Chinatown Point, Singapore
        </p>
      </div>
    </div>
    <div class="footer--nav">
      <ul>
        <li><a href="privacy">Documents</a></li>
        <li><a href="franchise.html">Chat <img src="/assets/img/tlg.png" alt="telegram" style="width: 33px;"></a></li>
        <li><a href="reporting.html">Reporting</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <!--<li><a href="user-agreement">Agreement</a></li>-->
      </ul>
    </div>
    <div class="social">
      <ul>
        <li><a href=""><img src="/assets/img/fc_.svg" alt="facebook"></a></li>
        <li><a href=""><img src="/assets/img/vk_.svg" alt="vk"></a></li>
        <li><a href=""><img src="/assets/img/inst.svg" alt="inst"></a></li>
      </ul>
    </div>
    <div class="footer--coins">
      <ul>
        <li><a href=""><img src="/assets/img/btcoin.svg" alt="bitcoin"></a></li>
        <li><a href=""><img src="/assets/img/ethcoin.svg" alt="etherium"></a></li>
        <li><a href=""><img src="../assets/img/icon-t.png" alt="t"></a></li>
      </ul>
    </div>
  </div>
</div>