<div class="footer">
  <div class="container">
    <div class="footer--logo"><a href="index.html"><img src="../assets/img/logo-foot.png" alt="logotype"></a></div>
    <div class="copyright">
      <p>Все права защищены</p>
      <p>&copy; 2019 FinTradeCenter</p>
    </div>
    <div class="footer--nav">
      <ul>
        <li><a href="">Конфиденциальность</a></li>
        <li><a href="reporting.html">Отчетность</a></li>
        <li><a href="">Пользовательское соглашение</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>
    <div class="footer--coins">
      <ul>
        <li><a href=""><img src="/assets/img/btcoin.svg" alt="bitcoin"></a></li>
        <li><a href=""><img src="/assets/img/ethcoin.svg" alt="etherium"></a></li>
        <li><a href=""><img src="../assets/img/icon-t.png" alt="t"></a></li>
      </ul>
    </div>
  </div>
</div>