
<h3 class="title">Франшиза FinTradeCenter</h3>

<div class="franchise__item">
    <div class="franchise__item--img"><img src="/assets/img/franchise1.svg" alt="franchise"></div>
    <div class="franchise__item--txt">
        <h4 class="title--sub greenGradient">Офис</h4>
        <p>Для активных партнеров, которые хотят работать как онлайн так и оффлайн, компания предоставляет возможность получить финансирование офиса.</p>
        <h4 class="title--sub__">Квалификационные требования:</h4>
        <p>Необходимо иметь $25.000 объема продаж в структуре и иметь команду как минимум из 10 активных партнеров.</p>
        <h4 class="title--sub__">Параметры офиса:</h4>
        <ul>
            <li>1) Приемлемые размеры офиса от 30-50 метров квадратных, находящийся в офисном здании.
                (Для небольшого офиса достаточна одной большой офисной комнаты).</li>
            <li>2) В офисе таких размеров достаточно 3-4 стола и около 15 стульев. Также нужна доска для презентаций.</li>
        </ul>

    </div>
</div>

<h4 class="title--sub__">Процедура подачи заявки:</h4>

<div class="franchise__list">
    <ol>
        <li><span>Партнер подает заявку на почту support@fintradecenter.com на открытие офиса</span></li>
        <li><span>К письму необходимо прикрепить фото офиса (помещения) внутри и снаружи</span></li>
        <li><span>Обязательно указать сумму арендной платы</span></li>
        <li><span>После согласования с компанией, партнер обязан подписать договор аренды и предоставить скан компании</span></li>
    </ol>
</div>

<p>После согласования партнер получает разовое финансирование в сумме 1.000-1.500$ на мебель и на официальное открытие офиса. Компания также оплачивает ежемесячную аренду офиса.</p>
<p>Для получение финансирования на погашение аренды в следующем месяце необходимо предоставить отчет по проделанной работе за предыдущий месяц.</p>
<p>При достижении 50.000$ объема в структуре компания выделяет 250$ на покупку проектора.</p>
<p>Руководитель офиса получает автоматическое повышение партнерского уровня +3.</p>

<div class="franchise__item mt60">
    <div class="franchise__item--img"><img src="/assets/img/franchise2.svg" alt="franchise"></div>
    <div class="franchise__item--txt">
        <h4 class="title--sub greenGradient">Региональное представительство</h4>
        <p>Для партнеров с большими командами компания предоставляет возможность воспользоваться VIP условиями.</p>
        <h4 class="title--sub__">Квалификационные требования:</h4>
        <p>Необходимо иметь 50.000$ объема в структуре и иметь команду как минимум из 30 активных партнеров.</p>
        <h4 class="title--sub__">Параметры офиса:</h4>
        <ul>
            <li>1) Приемлемые размеры офиса от 60 - 80 метров квадратных, находящийся в офисном здании.
                Предпочтительно чтобы офис состоял из двух помещений, первая часть 40-50 м предназначается для презентаций и
                второе помещение офиса 20-30 м отдельная комната для переговоров. </li>
            <li>2) Для такого офиса нужно будет около 6-7 столов и около 50 стульев. Также нужны доска для презентаций и проектор.</li>
        </ul>

    </div>
</div>

<h4 class="title--sub__">Процедура подачи заявки:</h4>

<div class="franchise__list">
    <ol>
        <li><span>Партнер подает заявку на почту support@fintradecenter.com на открытие офиса</span></li>
        <li><span>К письму необходимо прикрепить фото офиса (помещения) внутри и снаружи</span></li>
        <li><span>Обязательно указать сумму арендной платы</span></li>
        <li><span>После согласования с компанией, партнер обязан подписать договор аренды и предоставить скан компании</span></li>
    </ol>
</div>
<p>Партнер получает разовое финансирование в сумме 2.000-2.500$ на покупку мебели, проектора, а также на официальное открытие офиса. Компания также оплачивает ежемесячную аренду офиса.</p>
<p>Для получение финансирования на погашение аренды в следующем месяце необходимо предоставить отчет по проделанной работе за предыдущий месяц.</p>
<p>Руководитель VIP офиса получает автоматическое повышение партнерского уровня +3.</p>