
<div class="header">

  <div class="container">

    <div class="menu-icon">
      <div class="menu-icon--line">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <span>Menu</span>
    </div>

    <div class="logo"><a href="index.html"><img src="../assets/img/logo-black.png" alt="logotype"></a></div>

    <nav>
      <ul>
        <li><a href="about.html">о компании</a></li>
        <li><a href="analysis.html">анализ</a></li>
        <li><a href="reporting.html">отчётность</a></li>
        <li><a href="career.html">карьера</a></li>
        <li><a href="contacts.html">контакты</a></li>
      </ul>
    </nav>

    <div class="header__userManager">
      <div class="languages-block">
        <div class="current-lang">
          <span>rus</span>
          <span class="ar"></span>
        </div>

        <div class="languages-list fadeInDown">
          <ul class="text-center">
            <li><a href="/">rus</a></li>
            <li><a href="/">eng</a></li>
            <li><a href="/">fr</a></li>
          </ul>
        </div>
      </div>
      <div class="auth">
        <a href="login.html" class="btnStylex btnStylex--green">Вход</a>
      </div>
    </div>
  </div>
</div>