
<div class="header">

  <div class="menu-icon">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="logo"><a href="index.html"><img src="../assets/img/logo-top.png" alt="logotype"></a></div>
  
  <nav>
    <ul>
      <li><a href="about.html">о компании</a></li>
      <li><a href="analysis.html">анализ</a></li>
      <li><a href="reporting.html">отчётность</a></li>
      <li><a href="career.html">карьера</a></li>
      <li><a href="contacts.html">контакты</a></li>
    </ul>
  </nav>

  <div class="header__userManager">
    <div class="languages">

    </div>
    <div class="auth">
      <button class="btn btn--green">Вход</button>
    </div>
  </div>
</div>