
<div class="table--block">
  <h3 class="title text-center">How does CX Bot trade?</h3>

  <div class="tableStylex">
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Date</td>
          <td>Couple</td>
          <td>Arrive</td>
          <td>Quantity</td>
          <td>Opening price</td>
          <td>Closing price</td>
        </tr>
        <tr class="table__whiteLine">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class="bg__success">
          <td class="table__id">
            <p>
              345678
            </p>
          </td>
          <td class="table__date">
            <p>
              06/05/19 13:00:27
            </p>
          </td>
          <td>
            <p>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Ammount $</span>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Buy $</span>
              7.749.99
            </p>
          </td>
          <td>
            <p>
              <span>Sell $</span>
              7.750.99
            </p>
          </td>
          <td>
            <p>
              <span><b>Profit $</b></span>
              0.003.99
            </p>
          </td>
        </tr>
        <tr>
          <td class="table__id">
            <p>
              345678
            </p>
          </td>
          <td class="table__date">
            <p>
              06/05/19 13:00:27
            </p>
          </td>
          <td>
            <p>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Ammount $</span>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Buy $</span>
              7.749.99
            </p>
          </td>
          <td>
            <p>
              <span>Sell $</span>
              7.750.99
            </p>
          </td>
          <td>
            <p>
              <span><b>Profit $</b></span>
              0.003.99
            </p>
          </td>
        </tr>
        <tr   class="bg__success">
          <td class="table__id">
            <p>
              345678
            </p>
          </td>
          <td class="table__date">
            <p>
              06/05/19 13:00:27
            </p>
          </td>
          <td>
            <p>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Ammount $</span>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Buy $</span>
              7.749.99
            </p>
          </td>
          <td>
            <p>
              <span>Sell $</span>
              7.750.99
            </p>
          </td>
          <td>
            <p>
              <span><b>Profit $</b></span>
              0.003.99
            </p>
          </td>
        </tr>
        <tr   class="bg__success">
          <td class="table__id">
            <p>
              345678
            </p>
          </td>
          <td class="table__date">
            <p>
              06/05/19 13:00:27
            </p>
          </td>
          <td>
            <p>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Ammount $</span>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Buy $</span>
              7.749.99
            </p>
          </td>
          <td>
            <p>
              <span>Sell $</span>
              7.750.99
            </p>
          </td>
          <td>
            <p>
              <span><b>Profit $</b></span>
              0.003.99
            </p>
          </td>
        </tr>
        <tr>
          <td class="table__id">
            <p>
              345678
            </p>
          </td>
          <td class="table__date">
            <p>
              06/05/19 13:00:27
            </p>
          </td>
          <td>
            <p>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Ammount $</span>
              BTC/USDT
            </p>
          </td>
          <td>
            <p>
              <span>Buy $</span>
              7.749.99
            </p>
          </td>
          <td>
            <p>
              <span>Sell $</span>
              7.750.99
            </p>
          </td>
          <td>
            <p>
              <span><b>Profit $</b></span>
              0.003.99
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>