
<div class="roadMap--block">
  <h3 class="title text-center">Road map</h3>

  <ul class="roadMap--list text-center">
    <li>
      <p>Q3 2016</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q1 2017</p>
      <em></em>
      <span>Forex Bot trading began <br > Algorithmic trading announcement</span>
    </li>
    <li>
      <p>Q1 2018</p>
      <em></em>
      <span>Cripto Exchange <br > Bot 1.0 launched</span>
    </li>
    <li>
      <p>Q3 2018</p>
      <em></em>
      <span>Multi Module architecture realized for CX Bot 3.0</span>
    </li>
    <li>
      <p>Q1 2019</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q2 2019</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q2 2019</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q3 2019</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q4 2019</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q1 2020</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q3 2020</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li>
      <p>Q2 2021</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
  </ul>

</div>