
<div class="team--block">
  <div class="team--block__content">
    <h3 class="title text-center">Team</h3>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="team--block__list">
      <ul>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/andrew.png" alt="">
            <p class="team__item--name">Andrew Shebbeare</p>
            <span class="team__item--position">Global CEO</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">Andrew Shebbeare</p>
                <p class="team__description--position">Global CEO</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/kyoko.png" alt="">
            <p class="team__item--name">Kyoko Matsushita</p>
            <span class="team__item--position">Cofounder</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">Kyoko Matsushita</p>
                <p class="team__description--position">Cofounder</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/daniel.png" alt="">
            <p class="team__item--name">Daniel Shebbeare</p>
            <span class="team__item--position">Chairman</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">Daniel Shebbeare</p>
                <p class="team__description--position">Chairman</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/kyoko.png" alt="">
            <p class="team__item--name">David Shebbeare</p>
            <span class="team__item--position">Cofounder</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">David Shebbeare</p>
                <p class="team__description--position">Cofounder</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/daniel.png" alt="">
            <p class="team__item--name">Daniel Shebbeare</p>
            <span class="team__item--position">Chairman</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">Daniel Shebbeare</p>
                <p class="team__description--position">Chairman</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/kyoko.png" alt="">
            <p class="team__item--name">David Shebbeare</p>
            <span class="team__item--position">Cofounder</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">David Shebbeare</p>
                <p class="team__description--position">Cofounder</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/kyoko.png" alt="">
            <p class="team__item--name">David Shebbeare</p>
            <span class="team__item--position">Cofounder</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">David Shebbeare</p>
                <p class="team__description--position">Cofounder</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
        <li>
          <div class="team__item">
            <img src="../assets/img/team/kyoko.png" alt="">
            <p class="team__item--name">David Shebbeare</p>
            <span class="team__item--position">Cofounder</span>

            <div class="team__description">
              <div class="team__description--main">
                <span class="description-close"></span>
                <p class="team__description--name">David Shebbeare</p>
                <p class="team__description--position">Cofounder</p>
                <span class="team__description--info">Reinhard is an original FinTech veteran. Reinhard’s career began as a business architect for global consulting firm Accenture contracted to redefine the global banking system for clients such as Credit Suisse, UBS and Invesco. He then served as a principal for French tech giant Capgemini. In 2003, Reinhard co-founded Alternative Invest Finance AG, an independent hedge fund operator.</span>
              </div>
            </div>

            <p class="team__description__detail--mob text-center"><button class="btnStylex btnStylex-details ">Details</button></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="text-center block--more">
      <button class="btnStylex btnStylex-more btnStylex--green__border"><span class="full_text">Full T`eam</span><span class="hide-full-text">Hide full Team</span></button>
    </div>
  </div>
</div>