
<ul>
  <li class="why--txt">
    <div>
      <h2 class="title">Why CX Bot?</h2>
      <h3 class="title--sub green">Be on the edge</h3>
      <p class="green borderSmall">Advanced Crypto trading software at your needs</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>What person can beat it's performance?</p>
    </div>
  </li>
  <li class="why--video">
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gAh9NRGNhUU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </li>
</ul>