
<div class="fintradeCenter--block">
  <div class="fintradeCenter--block__img d-none--mob"></div>
  <div class="fintradeCenter--block__content--wr">
    <div class="fintradeCenter--block__content">
      <h3 class="title title__border--sm">FinTrade Center</h3>
      <p>Мы разработали первого торгового робота для торговли на рынке FOREX в 2016 году. В 2018 году на базе робота FOREX был разработан Crypto Exchange Robot 1.0 (сокращенно CX Bot 1.0.</p>
      <p>Пространственная зона вычислений увеличилась. Мы разбили работу на множество блоков и создали более 10 синхронно работающих вычислительных машин с индивидуальными параметрами настройки. Это позволило максимально охватить рынок криптовалют и использовать уже CX Bot 2.0 и CX Bot 3.0 на таких биржах как Kraken, Poloniex , Bittrex , Bitfinex и Cryptopia.</p>
      <div class="d-block--mob"><img src="/assets/img/trade.jpg" alt=""></div>
      <p>CX Bot использует стратегии торговли, которые основываются на вероятностных моделях в сочетании с принципами высокочастотной торговли. Сегодня мы предлагаем своим клиентам Криптовалютного Биржевого робота который может зарабатывать для них до 1.4% в день. Мы не ждем когда криптовалюта вырастет или упадет. Робот проводит сотни операций в секунду и фиксирует прибыть. Мы зарабатываем когда рынок растет и тогда, когда он падает.</p>
      <p>Услуги, предоставляемые нашей компанией, не только обеспечивают высокий доход, но и высочайщий уровень конфиденциальности и защиты счетов.</p>
    </div>
  </div>
</div>