
<div class="joinTeam--block">
  <div class="joinTeam--block__content--wr">
    <div class="joinTeam--block__content">
      <h3 class="title">Присоединяйся к команде успеха</h3>
      <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.</p>
      <div class="d-block--mob"><img src="/assets/img/work.jpg" alt=""></div>
      <p class="text-center__mob">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
      <div class="d-block--mob">
        <button class="btnStylex btnStylex--green">Вакансии</button>
      </div>
    </div>
  </div>
  <div class="joinTeam--block__img d-none--mob"></div>
</div>