<h3 class="title text-center">Road map</h3>

<div class="roadMap--block">

  <ul class="roadMap--list text-center">
    <li class="roadMap__item-1">
      <p>Q3 2016</p>
      <em></em>
      <span>Forex Bot beta testing</span>
    </li>
    <li class="roadMap__item-2">
      <p>Q1 2017</p>
      <em></em>
      <span>Forex Bot trading began <br > Algorithmic trading announcement</span>
    </li>
    <li class="roadMap__item-3">
      <p>Q1 2018</p>
      <em></em>
      <span>Cripto Exchange <br > Bot 1.0 launched</span>
    </li>
    <li class="roadMap__item-4">
      <p>Q3 2018</p>
      <em></em>
      <span>Multi Module architecture realized for CX Bot 3.0</span>
    </li>
    <li class="roadMap__item-5">
      <p>Q1 2019</p>
      <em></em>
      <span>Crypto Exchange and <br /> Crypto Wallet License</span>
    </li>
    <li class="roadMap__item-6">
      <p>Q2 2019</p>
      <em></em>
      <span>All major Coin trading streams <br /> Crypto Signals Channel launch</span>
    </li>
    <li class="roadMap__item-7">
      <p>Q2 2019</p>
      <em></em>
      <span>FinTrade Center web-site <br /> Bitcoin trading stream</span>
    </li>
    <li class="roadMap__item-8">
      <p>Q3 2019</p>
      <em></em>
      <span>Cross Exchange trading implemented <br /> CX Bot 4.0 - 6.0</span>
    </li>
    <li class="roadMap__item-9">
      <p>Q4 2019</p>
      <em></em>
      <span>Crypto Wallet launch</span>
    </li>
    <li class="roadMap__item-10">
      <p>Q1 2020</p>
      <em></em>
      <span>Stock Exchange Bot 1.13 <br /> Designed for</span>
    </li>
    <li class="roadMap__item-11">
      <p>Q3 2020</p>
      <em></em>
      <span>Electronic Payments <br /> Service Launch</span>
    </li>
    <li class="roadMap__item-12">
      <p>Q2 2021</p>
      <em></em>
      <span>European Traditional <br /> Bank License</span>
    </li>
  </ul>

</div>