
<div class="joinTeam--block">
  <div class="joinTeam--block__content--wr">
    <div class="joinTeam--block__content">
      <h3 class="title">Присоединяйся к команде успеха</h3>
      <p>Мы приглашаем к сотрудничеству энергичных и целеустремленных людей. Присоеденяйтесь к команде FinTradeCenter и у Вас будет  возможность получать достойную оплату за свой труд, построить карьеру и окунуться в увлекательный мир онлайн-бизнеса.</p>
      <div class="d-block--mob"><img src="/assets/img/work.jpg" alt=""></div>
      <p class="text-center__mob">Хотите финансовой стабильности? Добро пожаловать в команду Fin Trade Center!
      </p>
      <div class="text-center__mob">
        <button class="btnStylex btnStylex--green">Вакансии</button>
      </div>
    </div>
  </div>
  <div class="joinTeam--block__img d-none--mob"></div>
</div>