
<ul>
  <li class="why--txt">
    <div>
      <h2 class="title">Why CX Bot?</h2>
      <h3 class="title--sub green">Be on the edge</h3>
      <p class="green borderSmall">Advanced Crypto trading software at your needs</p>
      <p>Bring flexibility to your life and leave a place for a dream having CX Bot taking care of your finances. The tool that can analyze the currency trends in real time and initiate up to 200 buy/sale transactions per second is now available for you.</p>
      <p>What person can beat its performance?</p>
    </div>
  </li>
  <li class="why--video">
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gAh9NRGNhUU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </li>
</ul>