
<h2 class="title text-center">Don't take our word - see for yourself</h2>
<div class="video--block__wr">
  <div class="video--block bgBlur--light">
    <iframe src="https://player.castr.io/live_2741b0807f9211e9b616571fef7afaa2" width="1920" height="670" align="video" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
      Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
  </div>
  <div class="video--block__content text-center">
    <p class="title--sub white">CX Bot real time analysis demonstration</p>
    <button class="btnStylex btnStylex--green">Watch</button>
  </div>
</div>