
<div class="statistic">
    <div class="statistic__top">
        <h3 class="title">Статистика</h3>

        <div class="statistic--btns">
            <ul class="statistic--period">
                <li><button>1w</button></li>
                <li><button class="gradient">1m</button></li>
                <li><button>1y</button></li>
            </ul>
            <ul>
                <li><button class="gradient">$</button></li>
                <li><button>%</button></li>
            </ul>
        </div>
    </div>

    <div class="statistic--date">
        <ul>
            <li>
                <span>Активы:</span>
                <p class="greenGradient">1 369 000</p>
            </li>
            <li>
                <span>Изменение:</span>
                <p class="greenGradient">+23 457</p>
            </li>
            <li>
                <span>Доход:</span>
                <p class="greenGradient">1 156 000</p>
            </li>
            <li>
                <span>Доходность:</span>
                <p class="greenGradient">+3.3%/сутки</p>
            </li>
            <li>
                <span>Сделок:</span>
                <p class="greenGradient">245 003</p>
            </li>
        </ul>
    </div>

    <div class="statistic--schedule">

    </div>
</div>
