/*  COLORS
========================================= */

$blueDot: #212121;

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
  -moz-transition-delay: #{$animation-delay};
  -o-transition-delay: #{$animation-delay};
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
  @-moz-keyframes #{$keyframes} { @content; }
  @-o-keyframes #{$keyframes} { @content; }
  @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}


/*  MENU ICON
========================================= */

.menu-icon {
  position: relative;
  left: 0;
  cursor: pointer;
  //@include transform(translate(-50%, -50%));
  //width: 35px;
  height: 35px;
  z-index: 7;
  flex: none;

  @media only screen and (min-width: 981px) {
    display: none;
  }

  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;

  @include flex(center, center, center, nowrap);

  span {
    color: #ffffff;
    text-transform: none !important;
  }

  &--line {
    width: 18px;
    position: relative;
    margin-right: 6px;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $wh;
    border-radius: 3px;
    @include transform(translateY(-50%));
    //@include transition(margin .4s ease .4s, width .4s ease);

    &:nth-of-type(1) {
      margin-top: -5px;
      margin-left: 0;
      //@include transform(translate(-50%, -50%) rotate(45deg));
    }

    &:nth-of-type(3) {
      margin-top: 5px;
      //margin-left: 12px;
      //@include transform(translate(-50%, -50%) rotate(-45deg));
    }

    @media screen and (max-width: $tableWidth) {
      background: linear-gradient(135deg, #38b870 0%, #22b6b4 100%);
    }

  }

  /*  &.clicked {
      .dot {
        @include transition(margin .4s ease, width .4s ease .4s);
        margin-left: 0;
        margin-top: 0;
        background: #000000 !important;

        &:nth-of-type(1) {
          width: 35px;
        }

        &:nth-of-type(3) {
          width: 35px;
        }
      }
    }*/
}

/*@media only screen and (max-width: 990px) {
  .wrapper {
    &.open--menu {
      //height: 100vh;
      overflow: hidden;

      .menu-icon {
        .dot {
          @include transition(margin .4s ease, width .4s ease .4s);
          margin-left: 0;
          margin-top: 0;
          background: #26968a !important;

          &:nth-of-type(1) {
            width: 35px;
          }

          &:nth-of-type(3) {
            width: 35px;
          }
        }
      }

      .header {
        z-index: 100;
      }

      .header--main {
        right: 0;
        align-items: flex-start;
      }
    }
  }
}*/

