.btnStylex {
    display: inline-block;
    padding: 12px 36px;
    color: $wh;
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    font-family: $FontMedium;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;

    @media only screen and (min-width: 768px) {
        &:hover {
            background: transparent;
            -webkit-transition: .35s all;
            -moz-transition: .35s all;
            -ms-transition: .35s all;
            -o-transition: .35s all;
            transition: .35s all;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
        white-space: normal;
    }
}

.btnStylex--green {

    text-transform: uppercase;
    background: linear-gradient(135deg, #38b870 0%, #22b6b4 100%);


    @media only screen and (min-width: 768px) {
        &:hover {
            color: $wh;
            background: linear-gradient(135deg, #22b6b4 0%, #38b870 100%);
        }
    }
}