@import "franchise";
@import "statistic";

.customPage {
  flex: 1;

  @media screen and (max-width: $desktopWidth) {
    margin-top: 20px;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1.2rem;
    color: $customFontColor;
    font-family: $Fontlight;

    @media screen and (max-width: $phoneBigWidth) {
      font-size: 1.8rem;
    }
  }
  p {
    margin-bottom: .8rem;
    font-family: $Fontlight;
  }
  ul {
    padding-left: 20px;
  }
  li {
    list-style-type: disc;
    line-height: 2.4;
    font-family: $Fontlight;
  }

  .container {
    max-width: 1100px;

    @media screen and (max-width: 980px) {
      max-width: 768px;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
      overflow: hidden;
    }
  }

  &-table {
    margin-top: 12px;
    margin-bottom: 20px;
    overflow: auto;

    table {
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #9c9c9c;
      padding: 12px 8px;

      @media screen and (max-width: $smDesktopWidth) {
        padding: 6px 4px;
      }
    }

    th {
      font-size: 14px;

        @media screen and (max-width: $smDesktopWidth) {
          font-size: 12px;
        }
    }

    td {
      white-space: nowrap;
      text-align: right;

        &:first-child, &:nth-child(2) {
          text-align: left;
        }
    }
  }

}

.main-table--wr {
  overflow-x: auto;
}

.main-table--wr::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

.main-table--wr::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.main-table--wr::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
  background: linear-gradient(135deg,#38b870,#22b6b4);
}