// header style

.background__block--wr {
  .header {
    a, p, span, .languages-block span, .languages-block a, .languages-block .ar:after {
      color: $wh;
      border-color: $wh;
    }
  }
}

.header {
  font-family: $FontMedium;
  position: relative;
  /*position: absolute;
  left: 0;
  top: 0;*/
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid grey;
  z-index: 10;

  .container {
    @include flex(space-between, center, row, nowrap);
  }

  a, p, span {
    font-size: 15px;
    color: $mainFontColor;
    text-transform: uppercase;

    @media screen and (max-width: $tableWidth) {
      color: $wh;
    }

    &.btnStylex {
      text-decoration: none;
      color: $wh;
      min-width: 120px;

      @media screen and (max-width: $tableWidth) {
        min-width: auto;
        line-height: normal;
      }
    }
  }

  nav {
    flex: 1;
    margin: 0 7%;

    @media screen and (max-width: $desktopWidth) {
      margin: 0 2%;
      flex: auto;
    }

    @media screen and (max-width: $smDesktopWidth) {
      position: fixed;
      left: 0;
      top: -100%;
      width: 100%;
      margin: 0;
      -webkit-transition: .27s all;
      -moz-transition: .27s all;
      -ms-transition: .27s all;
      -o-transition: .27s all;
      transition: .27s all;
      z-index: 2;

        &.active {
          top: 0;
          background: rgba(0,0,0,.65);
          padding-top: 118px;
          padding-bottom: 30px;
        }
    }

    ul {
      @include flex(space-between, center, center, nowrap);

      @media screen and (max-width: $tableWidth) {
        justify-content: center;
        flex-direction: column;
      }
    }

      li {
        margin: 5px 10px;
      }

      a {
        white-space: nowrap;
      }
  }

  &__userManager {
    @include flex(space-between, center, center, nowrap);
    position: relative;
    z-index: 3;

    @media screen and (max-width: $tableWidth) {
      max-width: 120px;
    }
  }

  .btnStylex, .menu-icon {
    @media screen and (max-width: $tableWidth) {
      //background: rgba(0, 0, 0, 0.5);
      padding: 6px;
    }
  }

  .languages-block {
    a, span {
      color: #212121;
    }
  }

}

.logo {
  position: relative;
  z-index: 3;

  @media screen and (max-width: $tableWidth) {
    flex: 1;
    text-align: center;
  }

  img {
      min-width: 75px;
    }
}

