
.joinTeam {

  &__section {
    padding: 0;
  }

  &--block {
    @include flex(center, stretch, row, nowrap);

    >div {
      width: 50%;

      @media screen and (max-width: $phoneBigWidth) {
        width: 100%;
      }
    }

    &__img {
      background-image: url("/assets/img/work.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__content {
      padding: 5.375rem 5.625rem;
      max-width: 600px;
      margin-right: 0;
      margin-left: auto;

      @media screen and (max-width: $phoneBigWidth) {
        width: 100%;
        padding: 50px 15px;
      }

      .title {
        margin-bottom: 2.5rem;
      }

      p {
        margin-bottom: 2.25rem;

          &:last-child {
            margin-bottom: 0;
          }
      }

      @media screen and (max-width: $phoneBigWidth) {
        max-width: none;
      }
    }
  }
}