
.overFoot {
  &__section {
    background-image: url("/assets/img/bacgroundFoot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 6.125rem;
    padding-bottom: 4.625rem;

    p {
      font-size: 1.375rem;
      margin-bottom: 1rem;
      font-family: $Fontlight, sans-serif;
    }

    span {
      font-weight: 600;
      display: inline-block;
      margin-bottom: 1.875rem;
    }
  }
}