
.video {
  position: relative;
  background: #f7f7f7;

  .title {
    margin-bottom: 3.75rem;
  }

  iframe {
    width: 100%;
    height: 44rem;

    @media screen and (min-width: 768px) and (max-width: 1260px) {
      height: 24.5rem;
    }

    @media only screen and (min-width: 736px) and (max-width: 767px) {
      height: 27.25rem;
    }

    @media only screen and (min-width: 706px) and (max-width: 735px) {
      height: 26.25rem;
    }

    @media only screen and (min-width: 651px) and (max-width: 705px) {
      height: 25.25rem;
    }

    @media only screen and (min-width: 551px) and (max-width: 650px) {
      height: 19.5rem;
      width: 500px;
    }

    @media screen and (min-width: 481px) and (max-width: 550px) {
      height: 17.5rem;
      width: 450px;
    }

    @media screen and (min-width: 415px) and (max-width: 480px) {
      height: 14.5rem;
      width: 380px;
    }

    @media screen and (min-width: 361px)  and (max-width: 414px) {
      height: 13.5rem;
      width: 100%;
    }

    @media screen and (max-width: 360px) {
      height: 12.5rem;
      width: 100%;
    }
  }

  &--block {

    @media screen and (min-width: 768px) and (max-width: 1260px) {
      width: 700px;
      margin: auto;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
    }

    &__wr {
      position: relative;
    }

    &__content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      //pointer-events: none;

      @include flex(center, center, column, wrap);

      @media screen and (max-width: 767px) {
        padding: 0 10%;
      }

      @media screen and (max-width: 550px) {
        p {
          font-size: 20px;
        }
      }
    }
  }
}

.bgBlur--light {
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}