
.why {

  .title {
    margin-bottom: 1.375rem;
  }

  &--txt {
    @media screen and (min-width: $tableWidth) {
      padding: 0 1rem;
    }
  }

  ul {
    @include flex(space-between, center, row, nowrap);

    @media screen and (max-width: $smDesktopWidth) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

}